.dashboard {
  display: flex;
  width: 100%;

  & .sidebar {
    background-color: #ffe3ca;
    width: 25vw;
    height: 94vh;
    padding: 3vh 1vw;

    &-profile {
      display: flex;
      align-items: center;
      // justify-content: space-around;
      justify-content: center;
      margin-bottom: 5vh;

      & .profile-image {
        margin-right: 2vw;
      }
      & .profile-name {
      }
    }

    & .sidebar-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 70%;
    }
  }

  & .content {
    background-color: #faebd7;
    width: 75vw;
    height: 96vh;
    padding: 2vh 3vw;
      
    & h2  {
      margin: 2vh 0;
    }

    & .beerlist-container {
      width: 100%;
      height: 85vh;
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;

      & .beerlist-item {
        width: 19vw;
        height: 30vw;
        margin: 3vh 2vw;
        justify-content: space-around;
        & button {
          width: 100%;
          height: 100%;
          & img {
            height: 50%;
          }
          & .MuiCardContent-root {
            height: 50%;
            & > * {
            font-size: 2vw;
            transform: translate(-50% -50%);
            // align-items: center;
            }
          }
        }
      }
    }
  }
}
